@font-face {
  font-family: 'Kepler Std';
  src: url('KeplerStd-BoldScnDisp.woff2') format('woff2'),
      url('KeplerStd-BoldScnDisp.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}


.kepler {
  font-family: 'Kepler Std';
  font-weight: bold;
  font-style: normal;
}

.swiper-pagination-bullet {
  background-color: white!important;
  opacity: 0.5;
}

#videoBG {
  position: relative;
  height:100%;
}

#videoBG:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #000000 25%, #00000000);
}

#story {
  background-image: url('../assets/images/min/Background-layer1-min.png');
  background-size: cover;
  background-position: top center;
}

#collection {
  background: url('../assets/images/min/2-min.jpeg') no-repeat center center / cover , 
  linear-gradient(to bottom, hsl(7deg 27% 8%) 10%, #000000 100%);
  background-blend-mode: overlay;
}

#roadmap {
  background-image: url('../assets/images/min/roadmap-bg-min.png');
}

#team {
  background-image: url('../assets/images/min/paper-bg-min.jpg');
  background-color: #d7d7d7;
}

#faq {
  background-image: url('../assets/images/min/faq-bg-min.png');
}

.signature-wrapper {
  display: none!important;
}